.DigitTimer {

  font-family: 'Montserrat-ExtraBold';

  // border: 1px solid red;

  color: white !important;

  // &.config,
  &.pause {
    color: #ccc !important;
  }

  &.pause .container {
    cursor: pointer;
  }


  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  // background-image: url(./01_00.svg);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  // svg {
  //   height: 100vh;
  //   width: auto;
  //   max-width: 100vw;
  //   max-height: 100vh;

  // }

  // .digit {

  //   width: 100vw;
  //   height: 100vh;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   div {
  //     font-size: 100vh;
  //   }
  // }
  // ::v-deep h1 {
  //   font-size: default;
  // }

  .container {
    width: 100vw;
    height: 100vh;
    // background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    div[data-digit] {
      display: block;
      height: 60vh;
      width: 8vw;
      position: fixed;
      top: 20vh;
      left: 0;
      // border: 1px solid red;

      display: flex;
      align-items: center;
      justify-content: center;

      &[data-digit="min1"] {
        left: 2vw;
      }
      &[data-digit="min2"] {
        left: 24vw;
      }
      &[data-digit="colon"] {
        left: 46vw;
      }
      &[data-digit="sec1"] {
        left: 56vw;
      }
      &[data-digit="sec2"] {
        left: 78vw;
      }
      // &[]

      &.digit {
        width: 20vw;
      }
    }

    &.up,
    &.up div[data-digit] {
      top: -10vh;
      // background-color: rgba(128, 0, 0, 0.5);
    }
    &.down,
    &.down div[data-digit] {
      top: 50vh;
      // background-color: rgba(0, 128, 0, 0.5);
    }

    cursor: default;
    user-select: none;

    &.up,
    &.down {
      div[data-digit] {
        opacity: 0;

        &.digit {
          cursor: pointer;
          line-height: 100vh;
          display: inline-block;
          
          
        }
      }

      // display: none;
    }
    
    div[data-digit="colon"] {
      // margin-bottom: 20%;
      // display: block;
      // position: relative;
      margin-top: -5vh;
    }

  }

  .message-container {
    z-index: -1;
    position: fixed;
    top: 5vh;
    left: 10vw;

    width: 80vw;
    height: 10vh;
    
    text-align: center;
    color: white !important;

    &.hide {
      opacity: 0;
    }
  }

  .container.stop {
    background-color: red;
    opacity: 1;
    transition: opacity 0.5s linear;

    cursor: pointer;

    &.fadeout {
      opacity: 0;
    }

    .main {
      position: fixed;
      left: 10vw;
      top: 10vh;

      width: 80vw;
      height: 50vh;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .message {
      position: fixed;
      left: 30vw;
      top: 70vh;

      width: 40vw;
      height: 20vh;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.hide {
      opacity: 0;
      left: 100vw;

      .main, .message {
        left: 100vw;
      }
    }
  }

  .audio-control {
    position: fixed;
    right: 0;
    bottom: 10vh;

    width: 7vw;
    height: 15vh;
    
    color: white;

    &.hide {
      opacity: 0;
      z-index: -1;
    }

    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: -5vh;
    cursor: pointer;
    z-index: 2;
  }
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./Montserrat-ExtraBold.ttf') format('truetype');
}
