<div class="DigitTimer"
  @mousedown="readyToStart"
  @mouseup="cancelToStart"
  @contextmenu.prevent.stop="readyToStartHandler"
  :class="computedClassName">


  <div class="container"
    @click="pauseOrContinue"
    @contextmenu.prevent.stop="readyToResetHandler">
      <div class="digit" data-digit="min1">
        <div class="to-fitty">{{ min1 }}</div>
      </div>
      <div class="digit" data-digit="min2">
        <div class="to-fitty">{{ min2 }}</div>
      </div>
      <div class="colon" data-digit="colon">
        <div class="to-fitty">:</div>
      </div>
      <div class="digit" data-digit="sec1">
        <div class="to-fitty">{{ sec1 }}</div>
      </div>
      <div class="digit" data-digit="sec2">
        <div class="to-fitty">{{ sec2 }}</div>
      </div>
  </div>

  <div class="container up"
    v-show="!isCountdown">
      <div class="digit" data-digit="min1"
        @click="plusAttr('min1', 0, 9, 1)">
        <div class="to-fitty">{{ min1 }}</div>
      </div>
      <div class="digit" data-digit="min2"
        @click="plusAttr('min2', 0, 9, 1)">
        <div class="to-fitty">{{ min2 }}</div>
      </div>
      <div data-digit="colon">
        :
      </div>
      <div class="digit" data-digit="sec1"
        @click="plusAttr('sec1', 0, 5, 1)">
        <div class="to-fitty">{{ sec1 }}</div>
      </div>
      <div class="digit" data-digit="sec2"
        @click="plusAttr('sec2', 0, 9, 1)">
        <div class="to-fitty">{{ sec2 }}</div>
      </div>
  </div>

  <div class="container down"
    v-show="!isCountdown">

      <div class="digit" data-digit="min1"
        @click="minusAttr('min1', 0, 9, 1)">
        <div class="to-fitty">{{ min1 }}</div>
      </div>
      <div class="digit" data-digit="min2"
        @click="minusAttr('min2', 0, 9, 1)">
        <div class="to-fitty">{{ min2 }}</div>
      </div>
      <div data-digit="colon">
        :
      </div>
      <div class="digit" data-digit="sec1"
        @click="minusAttr('sec1', 0, 5, 1)">
        <div class="to-fitty">{{ sec1 }}</div>
      </div>
      <div class="digit" data-digit="sec2"
        @click="minusAttr('sec2', 0, 9, 1)">
        <div class="to-fitty">{{ sec2 }}</div>
      </div>

  </div>
  
</div>